include ../mixins/about

section#about.about.scrollspy
    .container
        h2: span Members
        h3 Meet the superheroes
        .row
            // About carousel
            .col.s12.l12
                each star, i in site.data['stars']
                    +star(star, i)

            each star, i in site.data['stars']
                +detail(star, i)
