section#about.description
    .container
        h2: span About
        .row.center
            img(src="https://i.imgur.com/kjcqW4M.png", style="width: 80%; max-width: 1000px;")
        .row.flow-text.center
            p.
                かつて、指先サイズのコンピューティングデバイスである<strong>ASIC</strong>は、<br/>
                情報化社会の近未来を形作るデバイスとして大きな期待に溢れていました。
            p.
                しかし、IoT元年などと叫ばれる現在、エンジニアが実際に触れるデバイスは、<br/>
                手のひらサイズのマイコンボードやFPGAキットばかり。
            p.
                指先サイズのIoT機器を個人で開発することは不可能なのでしょうか？
            p.
                <strong>いえ、そんなことはありません。</strong>
            p.
                我々DragonASICチームは、ASICの価値を考え直し、<br/>
                <strong>再びASICに時代の脚光を浴びせます。</strong>
            p.
                <strong>WebベースのASIC開発プラットフォーム</strong>と、<strong>C言語ベースのASICデバイス設計環境</strong>で、<br/>
                ASICの開発をより手軽に、より多くの人に届けます。
            p.
                ASICの時代を、もう一度。DragonASICです。
